"aaron-bond.better-comments"
"bradlc.vscode-tailwindcss"
"charliermarsh.ruff"
"christian-kohler.npm-intellisense"
"christian-kohler.path-intellisense"
"cschlosser.doxdocgen"
"dbaeumer.vscode-eslint"
"dotjoshjohnson.xml"
"dtsvet.vscode-wasm"
"ecmel.vscode-html-css"
"esbenp.prettier-vscode"
"github.copilot"
"github.copilot-chat"
"golang.go"
"graphql.vscode-graphql"
"graphql.vscode-graphql-syntax"
"inferrinizzard.prettier-sql-vscode"
"k--kato.intellij-idea-keybindings"
"maattdd.gitless"
"mechatroner.rainbow-csv"
"meganrogge.template-string-converter"
"ms-azuretools.vscode-containers"
"ms-python.debugpy"
"ms-python.python"
"ms-toolsai.jupyter"
"ms-toolsai.jupyter-keymap"
"ms-toolsai.jupyter-renderers"
"ms-toolsai.vscode-jupyter-cell-tags"
"ms-toolsai.vscode-jupyter-slideshow"
"ms-vscode.cpptools"
"ms-vsliveshare.vsliveshare"
"naumovs.color-highlight"
"pkief.material-icon-theme"
"qwtel.sqlite-viewer"
"rokoroku.vscode-theme-darcula"
"rvest.vs-code-prettier-eslint"
"slevesque.shader"
"svelte.svelte-vscode"
"tamasfe.even-better-toml"
"techer.open-in-browser"
"vitest.explorer"
"yzhang.markdown-all-in-one"
